# Python
__pycache__/
*.py[cod]

# PyInstaller build files
build/
dist/

# Project specific directories
app/uploaded_reports/
app/uploaded_dictionaries/
Project Files/

# IDE settings
.vscode/
.idea/

# Temporary files
*.log
*.tmp

# Test cache
.pytest_cache/
tests/__pycache__/

# Environment
.env

# System files
.DS_Store
Thumbs.db

*.exe
